{% extends 'bookings/common/HeaderAndFooter.html' %}

{% block content %}

<div class="container text-center">
    <div class="my-2">
        <h3 class="">Available Cities</h3>
        <a href="/theater_admin/create/city" class="btn btn-success">Add new City</a>

    </div>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">City ID</th>
                    <th scope="col">City Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for city in cities %}

                <tr>
                    <th scope="row">{{city.id}}</th>
                    <td><a href="/">{{city.name}}</a></td>
                    <td><button class="btn btn-success">Edit</button></td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}