{% extends 'bookings/common/HeaderAndFooter.html' %}

{% block content %}

<div class="container">

    <div id="admin_home">
        <div class="d-flex justify-content-around text-light">
            <a href="/theater_admin/list/city" class="btn btn-primary">Available Cities</a>
            <a href="/theater_admin/list/movie" class="btn btn-success">Available Movies</a>
            <a href="/theater_admin/list/theater" class="btn btn-warning  text-dark">Available Theaters</a>
        </div>

    </div>
   
</div>

{% endblock %}

