{% extends 'bookings/common/HeaderAndFooter.html' %}

{% block content %}

<div class="container text-center">
    <div class="my-2">
        <h3 class="">Available Shows at {{theater.name}}</h3>
        <a href="{% url 'create_shows' theater.id %}" class="btn btn-success">Add new Show </a>
    </div>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Show ID</th>
                    <th scope="col">Show Name</th>
                    <th scope="col">Edit Show</th>
                    <th scope="col">Delete Show</th>
                    <th scope="col">Add/Edit Seats</th>
                </tr>
            </thead>
            <tbody>
                {% if count > 0 %}
                {% for show in shows %}

                <tr>
                    <th scope="row">{{show.id}}</th>
                    <td>{{show.name}}</a></td>
                    <td><a href="{% url 'update_shows' theater.id show.id %}" class="btn btn-success">Edit </a></td>
                    <td><a href="{% url 'delete_shows' show.id %}" class="btn btn-danger">Delete Show</a></td>
                    <td>
                        <a class="btn btn-warning" href="/theater_admin/list/seats/{{show.id}}">Add/Edit Seats</a>
                    </td>
                </tr>

                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}