{% extends 'bookings/common/HeaderAndFooter.html' %}

{% block content %}

<div class="container ">
    <h4 class="mt-3">Editing Details of: {{seat_vals.show.theater.name}} Theater, {{seat_vals.show.name}} Show.</h4>
    
    <a href="{% url 'create_seats' seat_vals.show.id %}" class="btn btn-success p-2 my-3">Add new Seat</a>
    
    <h5>Total Seats: {{seat_vals.seat_count}}</h5>
    <!-- <label class="w-10" for="seats_count">Enter no. of Seats to Crete:</label> -->
    <!-- <input type="number" name="seats_count" id="seats_count" maxlength="4" size="2"> -->
    <!-- <button onclick="sendCountValueToCreateSeats(this.value)" value="{% url 'create_seats' seat_vals.show.id %}" class="btn btn-success p-1">Add new Seats</button> -->
    
    <div class="grid-container grid-container--fill border border-success mt-3">
        {% for seat in seat_vals.seats %}
        <a href="/theater_admin/seats/details/{{seat.id}}">
            <div class="grid-element p-2 m-2 bg-secondary text-light text-center">
                {{seat.id}}
            </div>
        </a>

        {% endfor %}

    </div>


</div>

{% endblock %}