{% extends 'bookings/common/HeaderAndFooter.html' %}

{% block content %}

<div class="container text-center">
    <div class="my-2">
        <h3 class="">Available Theaters</h3>
        <button class="btn btn-success">Add new Theater</button>

    </div>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Theater ID</th>
                    <th scope="col">Theater Name</th>
                    <th scope="col">Edit Theater</th>
                    <th scope="col">Delete Theater</th>
                    <th scope="col">Edit Movie, Shows, Seats</th>
                </tr>
            </thead>
            <tbody>
                {% for theater in theaters %}

                <tr>
                    <th scope="row">{{theater.id}}</th>
                    <td></a>{{theater.name}}</td>
                    <td><button class="btn btn-success">Edit Theater</button></td>
                    <td><button class="btn btn-danger">Delete Theater</button></td>
                    <td>
                        <a class="btn btn-warning" href="/theater_admin/add/shows/{{theater.id}}">Edit Movie, Shows,
                            Seats</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}