{% extends 'bookings/common/HeaderAndFooter.html' %}

{% block content %}

<div class="container text-center">
    <div class="my-2">
        <h3 class="">Available Shows</h3>
        <button class="btn btn-success">Add new Show</button>

    </div>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Show ID</th>
                    <th scope="col">Show Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for show in shows %}

                <tr>
                    <th scope="row">{{show.id}}</th>
                    <td><a href="/theater_admin/add/show_with_seats/"></a>{{show.name}}</td>
                    <td><button class="btn btn-success">Edit</button></td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}