{% extends 'bookings/common/HeaderAndFooter.html' %}

{% block content %}

<div class="container">

    <div id="admin_home">
        <div class="d-flex justify-content-around text-light">
            <a href="/theater_admin/add/city" class="btn btn-primary">Add City</a>
            <a href="/theater_admin/add/movie" class="btn btn-success">Add Movie</a>
            <a href="/theater_admin/add/theater" class="btn btn-warning  text-dark">Add Theater</a>
            <a href="/theater_admin/add/shows" class="btn btn-info">Add Shows &amp; Seats</a>
        </div>

    </div>
   
</div>

{% endblock %}

